<div class="login-container">
    <h2>Add User</h2>
    <form class="login-form" action="#" method="post">
        <div class="form-group">
            <label for="upload">Upload Image:</label>
            <img class="rounded-image" src="/assets/Employee.jpeg"/>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
          </div>
          <div class="form-group">
            <label for="name">Middle Name (If Applicable):</label>
            <input type="text" id="middleName" name="middleName">
          </div>
          <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname" required>
          </div>
      <div class="form-group">
        <label for="email">Work Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="role">Job Title:</label>
        <input type="text" id="jobTitle" name="jobTitle" required> 
        <!-- TODO:Drop downlist of job titles -->
      </div>
      <div class="form-group">
        <label for="email">Team Name:</label>
        <input type="text" id="teamName" name="teamName" required> 
        <!-- TODO:Drop downlist of team names -->
      </div>
      <div class="form-group">
        <label for="role">Team Role:</label>
        <input type="text" id="teamRole" name="teamRole" required> 
        <!-- TODO:Drop downlist of team roles -->
      </div>
      <div class="form-group">
      </div>
      <div class="form-group">
        <button type="submit">Add User</button>
      </div>
